:root {
  --faq-box: hsl(0, 0%, 100%);
  --main-background: hsl(275, 100%, 97%);
  --main-answer: hsl(292, 16%, 49%);
  --main-question: hsl(292, 42%, 14%);

  --main-font: "Work Sans", sans-serif;
  --main-font-size: 16px;
}

body {
  background-image: url(./assets/images/background-pattern-desktop.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: var(--main-background);

  font-family: var(--main-font);
  font-size: var(--main-font-size);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  background-color: var(--faq-box);
  max-width: 600px;
  margin: 24px;
  padding: 24px;
  border-radius: 16px;
}
