:root {
  --faq-box: hsl(0, 0%, 100%);
  --main-background: hsl(275, 100%, 97%);
  --main-answer: hsl(292, 16%, 49%);
  --main-question: hsl(292, 42%, 14%);

  --main-font: "Work Sans", sans-serif;
  --main-font-size: 16px;
}

body {
  background-image: url(./assets/images/background-pattern-desktop.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: var(--main-background);

  font-family: var(--main-font);
  font-size: var(--main-font-size);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.faq-section {
  background-color: var(--faq-box);
  width: 600px;
  margin-bottom: 24px;
  padding: 25px 30px;
  border-radius: 16px;
}

.title {
  display: flex;
  align-items: center;
  color: var(--main-question);
}

.star {
  float: left;
  text-align: center;
}

.faq-title {
  font-size: 55px;
  margin-left: 25px;
}

summary {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: var(--main-question);
  margin: 20px 0;
  font-size: 19px;
}

summary:hover {
  cursor: pointer;
  color: #ad28eb;
}

.answer {
  color: var(--main-answer);
  margin-bottom: 25px;
  font-weight: 400;
}

hr {
  border: 1px solid #f3f3f3;
}
